<nav>MarketPredict</nav>

<ul class="nav justify-content-center bg-light">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">DASHBOARD</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/stateofspending">STATE OF SPENDING</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/attiributiondata">ATTRIBUTION DATA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/optimization">OPTIMIZATION</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/creativedashboard">CREATIVE DASHBOARD</a>
  </li>
</ul>
