<div class="sos-container">
  <div class="sos-header">
    <label class="sos-label">STATE OF SPENDING</label>
    <button>Export</button>
  </div>
  <div class="sos-content">
    <div class="sos-left-panel">
      <app-filters [filterConfig]="filterConfigs"></app-filters>
    </div>
    <div class="sos-report-container">
      <div class="candidate-cards">
        <div
          class="candidate-card-container"
          style="background-color: rgba(36, 194, 208, 0.2)"
        >
          <div class="logo-container">
            <div
              class="party-indicator"
              style="background-color: rgb(64, 122, 197)"
            >
              R
            </div>
          </div>
          <div class="candidate-details">
            <label class="candidate-name">Adam Putnam</label>
            <label class="candidate-detail">
              <label>Overall GRPS</label>
              39
            </label>
            <label class="candidate-detail">
              <label>Overall SOV&nbsp;&nbsp;</label>
              15%
            </label>
          </div>
        </div>
        <div class="candidate-cards">
          <div
            class="candidate-card-container"
            style="background-color: rgba(36, 194, 208, 0.2)"
          >
            <div class="logo-container">
              <div
                class="party-indicator"
                style="background-color: rgb(64, 122, 197)"
              >
                R
              </div>
            </div>
            <div class="candidate-details">
              <label class="candidate-name">Adam Putnam</label>
              <label class="candidate-detail">
                <label>Overall GRPS</label>
                39
              </label>
              <label class="candidate-detail">
                <label>Overall SOV&nbsp;&nbsp;</label>
                15%
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
